body{
  margin: 0;
  /* background-color: transparent; */
  background-image: url("../a.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;

}
/* NavBar */
#navbar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: black;
  color: yellow;
}
/* End NavBar */

/* Being Welcome */
.typewriter .w1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end;
}
.typewriter .w2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: transparent; }
}

.g{
  flex: 50%;
  padding: 10px;
  background-color: white;
  opacity: 0.9;

}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  background-color: white;
  opacity: 0.9;
}

/* Style the header */
header {
  background-color: transparent;
  padding: 15px;
  text-align: left;
  font-size: 35px;
  color: black;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: transparent;
  padding: 20px;
  color: white;
}

/* Style the list inside the menu */
nav ul {
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: transparent;
  color: black
}
article h1{
  font-size: 40px;
}

.b1 {
  border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.b2{
  border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.b3{
  border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
.c{
  align:center;
}
/* Style the footer */
footer {
  background-color: transparent;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: yellow;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: blue;}
.fa {
  padding: 25px;
  font-size: 50px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-envelope {
  background: black;
  color: white;
}
.fa-linkedin {
  background: black;
  color: white;
}
.fa-github{
  background: black;
  color: white;
}
